body {
  margin: 0;
  /*padding: 50px;*/
  font-family: sans-serif;
  background-color: #262626;
}

#header {
  background-color: #262626;
  padding: 2%;
  color: white;
  text-align: center;
  border: 1px solid white;
}

#header h1 {
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 50px;
}

h3 {
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 40px;
  color: white;
  text-align: center;
}

p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

ul.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;

}

ul.nav li {
  list-style: none;
  padding: 0 60px 0 0;
  display: inline;

}

ul.nav:before,
ul.nav:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

ul.nav:after {
    clear: both;
}

.active {
  color: red;
}

#show_feed {
  color: white;
  background-color: #262626;
  float: right;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  width: 30%;
  border: 1px solid white;

}

#show_feed img {
  width: 300px;
  border-radius: 5%;
}

#home_page {
  margin-top: 50px;
  padding: 30px;
  float: left;
  text-align: center;
  width: 60%;
  background-color: #262626;
  color: white;
  border: 1px solid white;

}

.row {
  background-color: white;
  width: auto;
  height: auto;
  /*border: 1px solid black;*/

}

.box {
  padding: 20px;
  width: 14.2857143%;
  height: 70px;
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

#calendar {
  padding: 60px;
  margin-top: 2px;
  text-align: center;
  color: black;

}
